body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #ff5757, #8c52ff);
    min-height: 100vh; 
    margin: 0; 
}
header {
    width: 100%; 
}

h1{
    font-family: "Times New Roman";
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
 

}

.filterBox p {
    font-family: "Times New Roman";
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;

}

.filterBox{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    backdrop-filter: blur(100px);
    display: flex;
    width: 100%;
    background-size: cover;
    margin-bottom: 0px;
    margin-top: 60px;
}


/*Carousel
.scroll-container{
    position: relative;
    overflow: hidden;
    height: 200px;
    width:100%;
}

.carousel-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.dots-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;

}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.dot.active {
    background-color: red;
    transform: scale(1.2);
}*/

