
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #ff5757, #8c52ff);
    min-height: 100vh; 
    margin: 0; 
}
header {
    width: 100%; 
}

h1{
    font-family: "Times New Roman";
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
 

}


.search-input{
    border-radius: 50px 50px 50px 50px; 
    height: 2rem;
    width: 20rem;

}




.filterBox p {
    font-family: "Times New Roman";
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;

}

.filterBox{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    backdrop-filter: blur(100px);
    display: flex;
    width: 100%;
    background-size: cover;
    margin-bottom: 0px;
    margin-top: 60px;
}




#carousel-main {
    margin-top:10rem;
    padding-bottom: 4rem;
    background: transparent;
    width: 100%;
}

.carousel-wrapper {
    height: 25rem;
    width: 100%;
    position: relative;
    overflow: hidden; /* Oculta los slides que están fuera de la vista */
}

.carousel-track {
    display: flex;
    justify-content: space;
    position: relative;
    width: 100%;
    height: 100%;
}

.slides-container {
    display: flex;
    gap: 3rem; /* Espacio entre los slides */
    margin: 1rem 1rem;
    animation: scroll 500s linear infinite; /* Solo animamos el contenedor de los slides */
}

.carousel-slide {
    display:flex;
    flex-direction: column;
    justify-content: space-between;/* Los slides no se encogen ni se expanden */
    width: 300px;
    min-width: 200px;
    background: var(--background-secondary, #f8f9fa);
    border-radius: 0px 20px 0px 60px; 
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.7);
    padding: 12px;

}
.carousel-slide:hover{
    background-color: #3f3f3f;
}
.carousel-slide:hover h3{
    color: white;
}
.carousel-slide:hover p{
    color:white;
}

.image-container {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 12px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 0px 60px; 

}

.carousel-slide h3 {
    padding-left: 0.8rem;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary, #333333);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-slide p {
    margin: 0;
    padding-left: 0.8rem;
    padding-bottom: 1.5rem;
    font-size: 18px;
    color: var(--text-secondary, #666666);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Inicia en la posición normal */
    }
    100% {
        transform: translateX(-100%); /* Se desplaza todo el ancho de los slides */
    }
}

/* Pausar la animación al hacer hover */
.slides-container:hover {
    animation-play-state: paused;
}
