/* Estilos de las tarjetas para artistas y albumes */
.artist-card {
    border: 1px solid #ddd;
    border-radius: 0px 50px 0px 80px; 
    padding: 10px;
    margin: 10px;
    width: 450px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7);
    background-color: #fffaf3;
    text-align: left;

}


.artist-card h2{
    font-size: 30px;
    padding-left: 40px;

}

.artist-card h3{
    font-family:'Aileron';
    font-size: 22px;
    padding-left: 40px;
    font-style: oblique;

}

.artist-card p{
    font-family:'Aileron';
    font-size: 25px;
    padding-left: 40px;
}

.artist-card img {
    width: 100%;
    border-radius: 0px 50px 0px 80px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;

}
.artist-card:hover {
    background-color:#3f3f3f;
    color: #fffaf3;
  
    
}
