
h1 {
    display: flex;
    font-size: 6rem;
    margin-top: 450px;
    margin-left: 60px;
    color: #fffaf3;
}

.diapositiva1 h1{
    margin: 0; 
    padding: 0;
    color:#000;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.diapositiva2 h1{
    margin: 0; 
    padding: 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}


    
h2 {
    display: flex;
    font-size: 40px; 
    margin-top: 600px;
    margin-left: -1100px;
    color: rgba(250, 47, 115, 0.7);
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-text h1 {
    font-size: 5em;
    margin: 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}


.overlay-text p {
    font-size: 1.4em;
    font-family: 'Aileron';
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}


.diapositiva1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:#fffaf3;
    background-size: cover;
  
}

.diapositiva2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #ff5757, #8c52ff);
    background-size: cover;
}

