#tracks-results .track-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.search-results-tracks {
    padding-top: 2rem;
}
.track-card {
    width: 85%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.track-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 0.3fr;
    width: 100%;
    align-items: end;
}

.track-card img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    margin: 0.5rem;
    margin-left: 1.5rem;
}

.track-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: 'aileronbold';
}

.artists,
.album {
    font-size: 18px;
    margin: 0;
    font-family: 'aileron_regular';
}

.duration {
    font-size: 18px;
    margin: 0;
    margin-top: 2rem;
    font-family: 'aileron_regular';
    text-align: center;
}

.explicit {
    font-size: 18px;
    color: rgb(195, 9, 9);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'aileronheavy';
    height: 21.333px;
}

.play {
    margin: 0.5rem;
    margin-right: 1.5rem;
    align-self: center;
}

.track-card:hover {
    background-color: #3f3f3f;
    color: #ffffff;
}