.track-card {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    gap: 0.5rem; 
}


.track-card img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    margin: 0.5rem;
    margin-left: 1.5rem;
}

/* .track-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    width: 100%;
} */

.track-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    font-family: 'aileronbold';
}

.artists,
.album {
    font-size: 18px;
    margin: 5px 0;
    font-family: 'aileron_regular';
}

.duration {
    font-size: 18px;
    font-family: 'aileron_regular';
}

.explicit {
    font-size: 15px;
    color: rgb(195, 9, 9);
    font-family: 'aileronheavy';
}

.play {
    margin: 0.5rem;
    margin-right: 1.5rem;
    align-self: center;
    
}
.track-card:hover {
    background-color: #3f3f3f;
        color:#ffffff;
}

.track-card > * {
    margin: 5px 0;
}