@import url('/css/stylesheet.css');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    width: 100%;
}

.logo {
    max-width:250px ; 
    height: auto; 
}
@media (min-width: 1024px) {
    .logo {
        max-width: 250px; 
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .logo {
        max-width: 200px; 
    }
}


@media (max-width: 767px) {
    .logo {
        max-width: 150px; /
    }
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: #000; 
    z-index: 100;
    margin-left: 0;  
}

.navlist {
    display: flex;
    list-style: none;
    margin-right: 4rem;
    font-family:'aileron_semibold';
}

.navlist li {
    margin-left: 5rem;
}

.navlist li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    letter-spacing: 4px;
    font-family:'aileron_semibold';
}

.navlist li a:hover {
    color: rgb(240, 56, 163);
}

.pieDePagina{
    background-color: #181719;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 23rem;
    flex-wrap: wrap;
  
}

.pieDePagina ul {
    
    list-style-type: none;
    color: rgb(143, 137, 137);
    font-family:'aileron_light';

}  

.pieDePagina ul h4 {
    list-style-type: none;
    color:white;
    font-family:'aileron_light';
}  

.pieDePagina ul li a{
    text-decoration: none;
    color: rgb(143, 137, 137);
    font-family:'aileron_light';
    line-height: 1.7;
    font-size:0,7 rem;
}

.pieDePagina ul li a:hover{
    color: white;
    text-decoration: underline; 
}

.contactInfo {
    margin-right: 2rem;
}
.sub-footer {
    text-align: center;
    color: #ccc;
    font-size: 17px;
    width: 100%;
    font-family:'aileron_light';
}

.divider {
    border: none; 
    border-top: 1px solid #ccc; 
    width: 100%;

}

.social-icon {
    width: 70px; 
    height: 70px; 
    margin: 0 10px;
}
