* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}
@font-face {
    font-family: "Aileron-Regular";
    src: url("/font_aileron/Aileron-Regular.otf") format('woff2'),
         url("/font_aileron/Aileron-Regular.otf") format('woff'),
         url("/font_aileron/Aileron-Regular.otf") format('truetype');

  }
main {
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


h1 {
    font-size: 10vh;
 
   
}
h2 {
    font-size: 5vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: #000; 
    z-index: 100;
    margin-left: 0;
}
.logo {
    display: block;
    width: 19rem;
    height: 19rem;
    background-image: url(images/logos/sonarlinkblanco.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navlist {
    display: flex;
    list-style: none;
    margin-right: 4rem;

}
.navlist li {
    margin-left: 5rem;
}
.navlist li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: color 0.3s ease;
    letter-spacing: 4px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.navlist li a:hover {
    color: rgb(240, 56, 163);
}

.diapositiva1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/images/fondo_portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:#fffaf3;
  
    
}
.diapositiva2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: #fffaf3;

    
}
.diapositiva3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/fondo_generico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:#fffaf3;
}
.diapositiva4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image:#fffaf3;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.pieDePagina{
    display: flex;
    justify-content: center;
    background-color: #181719;
    width: 100%;
    height: 250px;
}
.pieDePagina ul{
    list-style-type: none;
    color:white;
}
.pieDePagina ul li a{
    text-decoration: none;
    color: white;
}
.pieDePagina ul li a:hover{
    color: green;
}